$fullContainerSize: 100%;
$columns: column;

@mixin horizontalArrangement {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 999.9px) {
    .clause__content__photo {
        display: none;
    }
}
@media screen and (max-width: 663.9px) {
    .clause__content {
        gap: 40px !important;
    }
}
@media screen and (max-width: 580.9px) {
    .clause__content__text {
        h2 {
            font-size: 30px;
            line-height: 45px;
        }
    }
}

.clause {
    gap: 84px;

    @include horizontalArrangement();

    img {
        height: auto;
    }
}
.clause__content {
    padding-bottom: 8.17px;
    flex-direction: $columns;
    align-items: center;
    gap: 74px;

    @include horizontalArrangement();

    img {
        max-width: $fullContainerSize;
    }
}
.clause__content__text {
    width: 522 * $fullContainerSize / 568;
    display: flex;
    flex-direction: $columns;
    gap: 16px;

    p {
        width: 506.69 * $fullContainerSize / 522;
        color: rgba(#2c1500, .8);
        font-family: 'Montserrat';
        line-height: 28px;
    }
}
.clause__content__photo {
    max-width: 513 * $fullContainerSize / 1280;
}