@media screen and (max-width: 1309.9px) {
  .slider__content__info h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .slider__content__info p {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1119.9px) {
  .slider__content {
    gap: 40px !important;
  }
}
@media screen and (max-width: 999.9px) {
  .slider__content__buttons {
    display: none !important;
  }
}
@media screen and (max-width: 929.9px) {
  .slider, .slider__content__head, .slider__content__info {
    justify-content: center !important;
    padding-right: 0 !important;
  }
  .slider__photo {
    display: none;
  }
  .slider__content__info {
    width: 42.109375%;
    align-items: center;
  }
}
@media screen and (max-width: 549.9px) {
  .slider__content__info {
    width: 300px !important;
  }
  .slider__content__info h1 {
    font-size: 30px;
  }
  .slider__content__info p {
    font-size: 10px !important;
  }
}
.slider__photo {
  max-width: 44.765625%;
}

.slider__photo__logo {
  padding-top: 40px;
  padding-left: 56px;
  position: absolute;
  z-index: 1;
  width: 36px;
}

.slider__photo__plant {
  width: 100%;
  height: 100%;
}

.slider__content {
  height: auto;
  justify-content: space-between;
  gap: 110px;
  display: flex;
  flex-direction: column;
}

.slider__content__head {
  padding-top: 40px;
  padding-right: 56px;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.slider__content__head__icons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.slider__content__head__icons img {
  cursor: pointer;
  width: 20px;
}

.slider__content__head__buttons {
  display: flex;
  gap: 0;
}
.slider__content__head__buttons button {
  border: none;
  padding: 8px 33px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.slider__content__head__buttons_white {
  color: #156963;
  background-color: white;
}
.slider__content__head__buttons_white:hover {
  background-color: #f2f2f2;
}
.slider__content__head__buttons_white:active {
  background-color: #e6e6e6;
}

.slider__content__head__buttons_green {
  color: white;
  background-color: #156963;
}
.slider__content__head__buttons_green:hover {
  background-color: #11544f;
}
.slider__content__head__buttons_green:active {
  background-color: #0d3f3b;
}

.slider__content__info {
  width: 519px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.slider__content__info p {
  color: rgba(44, 21, 0, 0.8);
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 32px;
}

.slider__content__buttons {
  display: flex;
  justify-content: end;
}
.slider__content__buttons button {
  width: 320px;
  height: 160px;
  border: none;
  padding: 39px 48px 38px;
  gap: 12px;
  font-family: "Montserrat";
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.slider__content__buttons button div {
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 8px;
}
.slider__content__buttons button div img {
  width: 32px;
}
.slider__content__buttons button div span {
  font-size: 24px;
  line-height: 29px;
}

.slider__content__buttons_white {
  background-color: white;
}
.slider__content__buttons_white:hover {
  background-color: #f2f2f2;
}
.slider__content__buttons_white:active {
  background-color: #e6e6e6;
}
.slider__content__buttons_white div span {
  color: #333333;
}

.slider__content__buttons_white_bottom {
  display: flex;
  color: #156963;
  font-size: 32px;
  line-height: 39px;
}

.slider__content__buttons_green {
  background-color: #156963;
}
.slider__content__buttons_green:hover {
  background-color: #11544f;
}
.slider__content__buttons_green:active {
  background-color: #0d3f3b;
}
.slider__content__buttons_green div span {
  color: #f2f2f2;
}

.slider__content__buttons_green_bottom {
  width: 100%;
  text-align: start;
  color: white;
  font-size: 32px;
  line-height: 39px;
}/*# sourceMappingURL=slider.css.map */